@charset "UTF-8";

/* inicio media query menu */

@media screen and (max-width: 992px) {

  .hamburger,
  .toggle-menu {
     display: block;

}

.header {

  padding: 10px 20px;

}

.menu {
  justify-content: start;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: -300px ;
  background: white;
  width: 300px;
  height: 100%;
  padding-top: 65px;


}

.menu li{

  width: 100%;
}

.menu li a,
.menu li a :hover {

  padding: 30px;
  font-size: 24px;
  box-shadow: 0 1px 0 rgb(255, 255, 255,0.1) inset;

}
  
}

/* fim media query menu */


/* media query imagem de fundo */

@media screen and (min-width: 768px){
    .imagem{
      max-height: 300px;
    }

    .texto #maior{
        font-size: 3.3em;
      }
    
      .texto #menor{
        text-align: center;
        font-size: 1.6em;
      }
      
}

/* fim media query imagem de fundo */

/* media query footer */

@media screen and (max-width: 768px) {
  .row-footer {
    flex-direction: column;
  }
  .footer-col {
      order: 1;
    }
    .footer-col:nth-child(2) {
      order: 3;
    }
    .footer-col:nth-child(3) {
      order: 2;
    }
  .footer-col {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .container-footer {
      text-align: center;
      margin-left: 0;
    }
    .social-icons li a {
      align-items: center;
    }
    .logo-title {
      display: block;
      align-items: center;
  }
  .footer-col ul.EcoCloset li {
      padding-left: 0px;
    }
    
}

/* Fim media query footer */

/* pagina do cadastro*/

@media screen and (max-width: 960px) {

  .img-cad{
      display: none;
     
  }
  
  .left-login{
      display: none;
  }
  
  .left-login h1{
      display: none;
  }
  
  .right-login{
      width: 100vw;
  }
  
  .card-login{
      width: 50%;
  
  }
  }
  
  @media screen and (max-width: 1200px) {
  
     .card-login{
          width: 70%;
      }
  
      
      
      }

      /* Fim media query cadastro */


      /* Inicio media query "Sobre nós" */
      @media screen and (min-width:768px) {
        .conteudo-container{
            display: flex;
        }
        .TextoSobre{
            margin-left: 50px;
            margin-right: auto;
            max-width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            position: absolute;
        }
        .ImagemSobre{
            display: block;
            margin: auto;
            text-align: center;
            width: auto;
        }
        .ImagemSobre img{
            margin-left: 350px;
            max-width: 330px;
            height: 700px;
        }
        }
        
        @media screen and (min-width:1024px) {
            .ImagemSobre img{
                max-width: 500px;
                height: 700px;
                margin-left: 450px;
            }
            .TextoSobre{
                max-width: 500px;
                margin-left: 150px;
                position: absolute;
                margin-top: 40px;
            }
            
        
        }

    /* Fim media query "Sobre nós" */

    /* Inicio media query "Atalhos de categorias" */

    @media screen and (min-width:768px) {
      .container-conteudo-Categorias{
        display: flex;
        padding-top: 20px;
    }
      .Imagem1-Categorias{
        width: 300px;
      }
      .Imagem2-Categorias{
        width: 300px;
        margin-top: 0px;
        margin-left: -50px;
      }
      .Imagem1-Categorias img{
        width: 300px;
        height: 300px;
      }
      .Imagem2-Categorias img{
        width: 300px;
        height: 300px;
      }
    }
    
    
    @media screen and (min-width:1024px) {
      .Imagem2-Categorias{
        margin-left: -200px;
      }
    }

    /* Fim media query "Atalhos de categorias" */
    