@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

*{
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans', sans-serif;
	
}

body, html{
	background-color: lightgrey;
}


header{
	background-color: grey;
}

header > h1{
	color: white;
	text-align: center;
	margin-left: 10px;
    padding-top: 20px;
	padding-bottom: 20px;
}

span#burger{
	background-color: rgb(253, 253, 253);
	display: block;
	text-align: center;
	padding: 10px;

}

span#burger:hover{
	cursor: pointer;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}


menu{
	text-align: right;
	display: none; 
	
}

menu ul {
	
	list-style-type: none;
	text-align: right;
	
}

menu ul li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	background-color: grey;
	color: white;
	border-top: 2px solid grey;

}

menu ul li a:hover{
	background-color: rgb(66, 66, 66);
}

menu ul li{
	border-bottom: 1px solid white;
}

.imagem {
	position: relative;
  }
  
  .texto {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5em;
	color: white;
	font-weight: bolder;
	text-shadow: 3px 3px 3px black	;
}

  .texto p{
	font-size: 0.3em;
	text-align: center;
  }

