@charset "UTF-8";

/* ---------------------inicio media query menu ----------------*/

@media screen and (max-width: 992px) {

  .hamburger,
  .toggle-menu {
     display: block;

}

.header {

  padding: 10px 20px;

}

.menu {
  justify-content: start;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: -300px ;
  background: white;
  width: 300px;
  height: 100%;
  padding-top: 65px;


}

.menu li{

  width: 100%;
}

.menu li a,
.menu li a :hover {

  padding: 30px;
  font-size: 24px;
  box-shadow: 0 1px 0 rgb(255, 255, 255,0.1) inset;

}
  
}

/* --------------------fim media query menu ----------------*/


/* --------------------media query imagem de fundo------------------------- */

@media screen and (min-width: 768px){
    .imagem{
      max-height: 300px;
    }

    .texto #maior{
      text-align: center;
        font-size: 2.6em;
      }
    
      .texto #menor{
        text-align: center;
        font-size: 1.6em;
      }
      
}

/* -----------------------fim media query imagem de fundo ------------------*/

/*---------------------------- Início media query "Footer" ------------------------*/

/* Estilos aplicados apenas para telas com largura maior ou igual a 800 pixels */
@media screen and (min-width: 800px) {

  /* Estilos para a linha do rodapé */
  .row-footer {
    display: flex; /* A linha do rodapé será exibida como flex container */
  }

  /* Estilos para as colunas do rodapé */
  .footer-col {
    margin-left: auto; /* Centraliza a coluna à esquerda */
    margin-right: auto; /* Centraliza a coluna à direita */
    margin-bottom: 30px; /* Adiciona margem inferior para espaçamento */
  }

  /* Estilos para listas não ordenadas */
  ul {
    list-style: none; /* Remove os marcadores padrão de listas não ordenadas */
  }

  /* Estilos para o container de imagens no rodapé */
  .container-imagens-footer {
    margin: auto; /* Centraliza o container horizontalmente */
    padding-left: 45px; /* Adiciona um recuo à esquerda para o container de imagens */
  }
}

/*---------------------------- Fim media query "Footer" ------------------------*/

/* -----------------------------pagina do cadastro----------------------*/

@media screen and (max-width: 960px) {

  .img-cad{
      display: none;
     
  }
  
  .left-login{
      display: none;
  }
  
  .left-login h1{
      display: none;
  }
  
  .right-login{
      width: 100%;
  }
  
  .card-login{
      width: 100%;
  
  }

  .textfield{

    width: 70vw;

  }
  }
  
  @media screen and (max-width: 1200px) {
  
     .card-login{
          width: 80%;
      }
  
      
      
      }

      /* -------------------------------Fim media query cadastro -----------------------------*/


      /*---------------------------- Inicio media query "Sobre nós" ------------------------*/

      /* Estilos para telas com largura máxima de 1030 pixels */
      
@media screen and (max-width: 1030px) {
  
  .ImagemSobrenos {
      display: none; /* Oculta a classe ImagemSobrenos */
  }

  .conteudo-container-sobrenos {
      height: 750px; /* Reduz a altura do contêiner */
      padding-right: 0px; /* Remove o espaçamento à direita */
  }

  .TextoSobrenos {
      border-radius: 10px; /* Adiciona borda arredondada */
      width: 100%; /* Define a largura como 100% para ocupar a largura total */
  }
}

    /* ------------------------ Fim media query "Sobre nós" -------------------*/

    /* --------------------Início media query "Carrossel de criadores" ---------------------------*/

    @media screen and (min-width:768px) {
      .titulo-perfil{
        height: 100vh;
        width: 80%;
        border-radius: 5%;
        
    }
    .perfil-text{
      width: 520px;
      margin-top: -50px;
    }
    .perfil-text p{
      font-size: 20px;
    }
    .perfil-text p p2{
      font-size: 20px;
    }
    .perfil-text h3{
      font-size: 20px;
    }
    .perfil-imagem{
      margin-top: 20px;
    }
    .indicador-perfil{
      bottom: 10px;
      left: 43%;
    }
    }
    
    
    @media screen and (min-width:1024px) {
      
      .titulo-perfil{
        height: 100vh;
    }
    .perfil-text{
      width: 550px;
      right: 16%;
    }
    
    }

    /*----------------- Fim media query "Carrossel de criadores" ----------------*/

    /*-------------------- Inicio media query "Atalhos de categorias" -------------- */

    /* Estilos para telas com largura minima de 768 pixels */

@media screen and (min-width: 768px) {
  .container-conteudo-Categorias {
    display: flex; /* Utiliza layout um do lado do outro (flexivel) para container-conteudo-Categorias */
    padding-top: 20px; /* Adiciona espaço acima do conteúdo */
  }
  .Imagem1-Categorias {
    width: 220px; /* Largura específica para Imagem1-Categorias */
  }
  .Imagem2-Categorias {
    width: 220px; /* Largura específica para Imagem2-Categorias */
    margin-top: 0px; /* Remove margem superior */
    margin-left: -30px; /* Ajusta margem à esquerda */
  }
  .Imagem1-Categorias img {
    width: 250px; /* Largura específica para a imagem dentro de Imagem1-Categorias */
    height: 220px; /* Altura específica para a imagem dentro de Imagem1-Categorias */
  }
  .Imagem2-Categorias img {
    width: 220px; /* Largura específica para a imagem dentro de Imagem2-Categorias */
    height: 220px; /* Altura específica para a imagem dentro de Imagem2-Categorias */
  }
}

/* Estilos para telas com largura minima de 1000 pixels */

@media screen and (min-width: 1000px) {
  .Imagem2-Categorias {
    width: 270px; /* Largura específica para Imagem2-Categorias */
    margin-top: 0px; /* Remove margem superior */
    margin-left: -70px; /* Ajusta margem à esquerda */
  }
  .Imagem1-Categorias {
    width: 270px; /* Largura específica para Imagem1-Categorias */
  }
  .Imagem1-Categorias img {
    width: 270px; /* Largura específica para a imagem dentro de Imagem1-Categorias */
    height: 270px; /* Altura específica para a imagem dentro de Imagem1-Categorias */
  }
  .Imagem2-Categorias img {
    width: 270px; /* Largura específica para a imagem dentro de Imagem2-Categorias */
    height: 270px; /* Altura específica para a imagem dentro de Imagem2-Categorias */
  }
}

/* Estilos para telas com largura minima de 1200 pixels */

@media screen and (min-width: 1200px) {
  .Imagem2-Categorias {
    width: 280px; /* Largura específica para Imagem2-Categorias */
    margin-top: 0px; /* Remove margem superior */
    margin-left: -90px; /* Ajusta margem à esquerda */
  }
  .Imagem1-Categorias {
    width: 280px; /* Largura específica para Imagem1-Categorias */
  }
  .Imagem1-Categorias img {
    width: 280px; /* Largura específica para a imagem dentro de Imagem1-Categorias */
    height: 280px; /* Altura específica para a imagem dentro de Imagem1-Categorias */
  }
  .Imagem2-Categorias img {
    width: 280px; /* Largura específica para a imagem dentro de Imagem2-Categorias */
    height: 280px; /* Altura específica para a imagem dentro de Imagem2-Categorias */
  }
}

/* Estilos para telas com largura minima de 1500 pixels */

@media screen and (min-width: 1500px) {
  .Imagem2-Categorias {
    margin-left: -60px; /* Ajusta margem à esquerda */
  }
  .Imagem1-Categorias {
    width: 300px; /* Largura específica para Imagem1-Categorias */
  }
  .Imagem2-Categorias {
    width: 300px; /* Largura específica para Imagem2-Categorias */
    margin-top: 0px; /* Remove margem superior */
    margin-left: -180px; /* Ajusta margem à esquerda */
  }
  .Imagem1-Categorias img {
    width: 300px; /* Largura específica para a imagem dentro de Imagem1-Categorias */
    height: 300px; /* Altura específica para a imagem dentro de Imagem1-Categorias */
  }
  .Imagem2-Categorias img {
    width: 300px; /* Largura específica para a imagem dentro de Imagem2-Categorias */
    height: 300px; /* Altura específica para a imagem dentro de Imagem2-Categorias */
  }
}

    /* --------------- Fim media query "Atalhos de categorias" ------------------*/

/* Media-query da página de roupas masculinas e femininas  */


    
@media screen and (max-width: 768px) {
  .clothing-item {
      flex: 0 0 calc(50% - 20px);
      width: calc(50% - 20px);
  }
}

@media screen and (max-width: 555px) {
  .clothing-item {
      flex: 0 0 auto;
      width: 100%;
  }

  .cntainer-img img {
  width: 550px;
    

  
  
}
}

/* Media-query da página dos Produtos  */


@media (max-width: 768px) {
  .allcontainer {
      flex-direction: column;
      align-items: center;
  display: flex;
  
  padding: 20px;
  }

main {
  display: flex;
    width: 100%;
  align-items: center;
  
}

  .container-img img {
      width: 100%;
      max-width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
      align-items: center;
  }

.container-info-product {
      padding: 20px;
      text-align: center;
  }
  
  .container-price span {
      font-size: 18px; /* Reduza o tamanho da fonte para telas menores */
  }

  .container-description {
      padding: 20px 0;
  }

  .text-description {
      font-size: 14px; /* Reduza o tamanho da fonte para telas menores */
  }

  .container-social {
      padding: 10px 0;
  }
}
/* Ajuste o layout para telas menores, como celulares */
@media (max-width: 480px) {
  .allcontainer {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 10px;
  }

  main {
      display: flex;
      width: 100%;
      align-items: center;
  }

  .container-img img {
      width: 100%;
      max-width: 300px; /* Reduza o tamanho da imagem para telas menores */
      align-items: center;
  }

  .container-info-product {
      padding: 10px;
      text-align: center;
  }

  .container-price span {
      font-size: 16px; /* Reduza o tamanho da fonte para telas menores */
  }

  .container-description {
      padding: 10px 0;
  }

  .text-description {
      font-size: 14px; /* Reduza o tamanho da fonte para telas menores */
  }

  .container-social {
      padding: 10px 0;
  }
}

/* Ajuste o layout para telas de tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  .allcontainer {
  display: flex;
    
      padding: 5px;
      width: 100%;

  }

  main {
      width: 100%;
      display: flex;
      align-items: center;
  }

  .container-img img {
      width: 100%;
      max-width: 400px; /* Tamanho da imagem para tablets */
  }

  .container-info-product {
      padding: 20px;
      text-align: left;
  }

  .container-description {
      padding: 20px 0;
  }
}




/*---------------------------- Inicio media query "Página do usuário" ------------------------*/

/* Estilos aplicados quando a largura da tela é no máximo 810px */
@media screen and (max-width: 810px) {
  .parte-perfil-usuario {
    flex-direction: column; /* Altera a direção do flex container para coluna */
  }

  .textos-perfil-usuario {
    margin-top: 30px; /* Adiciona margem superior de 30 pixels */
  }

  .btn-sair-perfil-usuario {
    margin-top: 20px; /* Adiciona margem superior de 20 pixels */
    text-align: center; /* Centraliza o texto */
  }
}

/* Estilos aplicados quando a largura da tela é no mínimo 880px */
@media screen and (min-width: 880px) {
  .tudo-perfil-usuario {
    margin: auto; /* Centraliza o elemento horizontalmente */
    margin-top: 50px; /* Adiciona margem superior de 50 pixels */
    margin-bottom: 50px; /* Adiciona margem inferior de 50 pixels */
    width: 900px; /* Define a largura do elemento como 900 pixels */
  }
}

/* Estilos aplicados quando a largura da tela é no mínimo 850px */
@media screen and (min-width: 850px) {
  .tudo-tudo-desktop {
    display: block; /* Exibição como bloco */
    display: flex; /* Exibição como flex container */
  }

  .tudo {
    display: none; /* Oculta o elemento com a classe "tudo" */
  }
}

/*---------------------------- Fim media query "Página do usuário" ------------------------*/

/*-------------------------------------------ERROR MENSAGE SEARCH PAGE----------------------------------------------------*/ 

@media (min-width: 760px){
  .erro-prod-search{
    padding: 220px;
  }
}

/*-------------------------------------------------------------------------------------------------------*/ 
@media screen and (min-width:790px) {
  .tudo-tudo-desktop{
      display: block;
      display: flex;
  }
  .tudo{
      display: none;
  }
}