@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    
}

.container{
    min-height: 100vh;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}





.container form{
    background: #000000;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 600px;
    padding-top: 300px;
}

.container form .inputBox{
    margin-top: 20px;
}

.container form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#e7e4e4;
    background-color: #747474;
}

.container form .flexbox{
    display: flex;
    gap:15px;
    align-items: center;
    justify-content: center;
}

.container form .flexbox .inputBox{
    flex:1 1 150px;
}

.container form .submit-btn{
    width: 100%;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#af00ff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
    border:solid 2px #af00ff;
}
.inputBox ::placeholder{
    color: #f0ffff94;
}

.container form .submit-btn:hover{
    background-color: #af00ff;
    color: white;
}


.flexbox {
    color: #f0ffff94;
    align-items: center;
    justify-content: center;

    
}

.Parcelas{

    display: block;

}

.payment-methods {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
}

.pix-container,
.boleto-container {
    display: none; /* Inicialmente escondidos */
    background: #000000;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 100%;
    height: auto;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}


.qrcode-container {
    display: flex; /* Muda o display para flex */
    flex-direction: column; /* Direção da coluna para organizar os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    width: 450px;
}

.pix-qrcode {
    width: 250px; /* Você pode ajustar conforme necessário */
    height: 250px;
    align-items: center;
    
    
    
}

.pix-copy-btn button{
    width: 300px;
    background:linear-gradient(45deg, rgb(178, 147, 206), rgb(95, 61, 173));
    display: block;
    padding: 5px;
    font-size: 20px;
    color:#ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
    border:solid 2px #c777ec;
    align-items: center;
    }

    .pix-copy-btn button:hover{
        background:linear-gradient(-45deg,rgb(95, 61, 173) rgb(178, 147, 206), );
        transition: .2s linear;

        
    }

.pix-finalizar{
width: 100%;
background-color: white;
margin-top: 20px;
padding: 10px;
font-size: 20px;
color:#af00ff;
border-radius: 10px;
cursor: pointer;
transition: .2s linear;
border:solid 2px #af00ff;
}


.pix-finalizar:hover{

    background-color: #af00ff;
    color: white;
 
}

.boleto-container img {

    margin-left: 170px;
}




.container .card-container{
    margin-bottom: 390px;
    position: absolute;
    height: 250px;
    width: 400px;
}

.container .card-container .front{
    position: relative;
    height:100%;
    width: 100%;
    align-items: center;
    background:linear-gradient(45deg, rgb(97, 38, 151), rgb(143, 109, 221));
    border-radius: 5px;
    backface-visibility: hidden;
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.container .card-container .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

.container .card-container .front .image img{
    height: 50px;
}

.container .card-container .front .card-number-box{
    padding:30px 0;
    font-size: 22px;
    color:#fff;
}

.container .card-container .front .flexbox{
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.container .card-container .front .flexbox .box{
    font-size: 15px;
    color:#fff;
}

.container .card-container .back{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg, rgb(97, 38, 151), rgb(143, 109, 221));
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.container .card-container .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container .card-container .back .box{
    padding: 0 20px;
}

.container .card-container .back .box span{
    color:#fff;
    font-size: 15px;
}

.container .card-container .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container .card-container .back .box img{
    margin-top: 30px;
    height: 30px;
}